<div class="container content">
    <div class="row">
        <div class="col-md-6">
            hola 
        </div>
        <div class="col-md-6">
            mundo !!
        </div>
    </div>
</div>
