h1 {
  border: 15px solid #ddd; }
  h1:hover {
    border-color: #FFFF; }

.jumbotron {
  background-color: #fafc77;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fafc77;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 5px; }

.tab-content {
  padding-top: 10px; }

.down {
  margin-left: 10px; }

.pruebanpmwatch {
  color: #e60000; }

.pruebanpmwatchgrunt {
  color: #e60000; }
