@yellow:#fafc77;
@red:#e60000;
@green:#93e6a9;

.margenesTop(@top: 0px) {
    margin-top: @top;
}

.margenesbuttom(@bottom: 0px) {
    margin-bottom:@bottom;
}

.margenestwo(@top: 0px,@bottom: 0px) {
    margin-top: @top;
    margin-bottom:@bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;    
    .margenestwo(50px,0px);
}
footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;    
    .margenestwo(10px,0px);
}
.card-hotel{
    flex: 1 200px;
    .margenesTop(10px);
}
.btn-reserva{
    width: 100%;   
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 5px;
}

.tab-content{
    padding-top: 10px;
}
.down{
    margin-left: 10px
}